/* #common */
section {
  padding: 10rem 0 0;
}

h3 {
  color: #3bf;
  font-weight: bold;
  border: 2px solid #3bf;
  border-radius: 8px;
  font-size: 3.2rem;
  padding: 1rem 2rem;
  margin: 0 0 3.5rem;
}

p,
li,
td {
  font-size: 2.4rem;
}

table {
  width: 100%;
}

table:nth-of-type(n + 2) {
  margin: 5rem 0 0;
}

th,
td {
  vertical-align: top;
  padding: 0.2rem 0;
}

th {
  font-size: 3.2rem;
}

th:first-child {
  color: #3bf;
}

td p {
  padding: 2rem 0 2rem;
}

.table-champagne td:last-child,
.table-wine td:last-child,
.table-foods td:last-child,
.table-girlsDrink td:last-child {
  text-align: right;
}

/* #menu__nav */
.menu__nav__item__link {
  font-size: 2.4rem;
}
.menu__nav__item__link:nth-child(n + 2) {
  margin: 1rem 0 0;
}

/* #menu__table */
.allyoucandrink__table th {
  width: 18rem;
}

.table:not(.table-champagne, .table-wine) th:first-child,
.table:not(.table-champagne, .table-wine) td:first-child {
  width: 56rem;
}

.special__menu__text {
  margin: 4rem 0 0;
}

.special__menu__text:nth-of-type(n + 2) {
  margin: 1rem 0 0;
}
