/* page-archive-tag */
.archive__tag {
  width: 69rem;
  margin: 4rem auto 0;
}

.tag__list {
  list-style: disc;
  border: dotted #33bbff 1px;
  padding: 0.5em 0.5em 0.5em 2em;
}

.tag__list__item {
  line-height: 1.5;
  padding: 0.5em 0;
}

#archive-tag .common__link p {
  font-size: 3rem;
}