/* #common */
section{
  padding: 10rem 0 0;
}

h3 {
  color: #3bf;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0 0 2rem;
}

p,
li,
td {
  font-size: 2.4rem;
}

table {
  width: 100%;
  margin: 0 auto 4rem;
}

th,
td {
  vertical-align: top;
  padding: .2rem 0;
}

th{
  font-size: 3.2rem;
}

td p{
  padding: 2rem 0 2rem;
}

th:last-child,
td:last-child {
  text-align: right;
}

/* #menu__nav */
.menu__nav__item__link{
  font-size: 2.4rem;
}
.menu__nav__item__link:nth-child(n + 2){
  margin: 1rem 0 0;
}

/* #menu__table */
.allyoucandrink__table th {
  width: 18rem;
}

.table:not(.table-champagne, .table-wine) th:first-child,
.table:not(.table-champagne, .table-wine) td:first-child {
  width: 56rem;
}
