#single .common__tag__list {
  margin: 3rem 0 1rem;
}
#single .common__tag__list__item a {
  font-size: 2.4rem;
}

h2 {
  color: #33bbff;
  font-weight: bold;
  margin: 3rem 0 1rem;
}

p {
  font-size: 2.4rem;
}

.post__article__date {
  margin: 3rem 0 0;
  font-size: 2rem;
  text-align: right;
}

.post__article__author__name {
  margin: .7rem 0 4rem;
  text-align: right;
}
.post__article__author__name small {
  margin: 0 2rem 0 0;
  font-size: 2rem;
}

.post img {
  margin: 3rem 0;
}

.common__link{
  text-align: right;
}
.common__link p{
  font-size: 2.4rem;
  padding: 0 3rem 0 0;
}
.common__link p:before{
  width: 2.2rem;
  height: 2.2rem;
}