@charset "UTF-8";

html {
  font-size: 1.33333vw;
  max-width: 750px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  html {
    font-size: 65%;
  }
}

body {
  max-width: 750px;
  margin: 0 auto;
  background: #252525;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  display: block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* common */
.common__width {
  width: 69rem;
  margin: 0 auto;
}

/* #header */
.header__hamburger,
.header__hamburger-close {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 22px;
}
.header__hamburger span,
.header__hamburger-close span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.3s;
}
.header__hamburger span:nth-child(1) {
  top: 0;
}
.header__hamburger span:nth-child(2) {
  top: 10px;
}
.header__hamburger span:nth-child(3) {
  top: 20px;
}

.header__hamburger-close span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.header__hamburger-close span:nth-child(2) {
  opacity: 0;
}
.header__hamburger-close span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}

.header__overlay {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: all 0.3s;
}
.header__overlay.--active {
  opacity: 1;
  pointer-events: auto;
}

.header__menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #333;
  color: #fff;
  transition: left 0.3s;
  z-index: 1000;
}
.header__menu.--open {
  top: 46px;
  left: 0;
}

/* #banner */

/* #about */

/* #cast */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  transition-timing-function: linear;
  display: block;
  width: 35rem !important;
  height: auto;
  background: inherit;
  text-align: center;
}

/* #fee-system */

/* #access */

/* #cast-blog */
.cast__blog {
  margin: 4rem auto 0;
}

.cast__blog__title {
}

.cast__blog__list {
  margin: 2rem auto 0;
}

.cast__blog__item {
}
.cast__blog__item:nth-child(n + 2) {
}

.cast__blog__item__link {
  border-bottom: dotted 1px #fff;
  padding: 1.9rem 0;
}
.cast__blog__item__link.grid__container {
  display: grid;
  align-items: center;
  grid-template-columns: 15rem auto;
  column-gap: 1.8rem;
}

.cast__blog__item__title {
  color: #33bbff;
  font-weight: bold;
  font-size: 3rem;
}

.cast__blog__item__content,
.cast__blog__item__author {
  font-size: 2.4rem;
}

.cast__blog__item__content {
  margin: 0.5rem 0 0;
}

.cast__blog__item__author {
  margin: 0.7rem 0 0;
  text-align: right;
}

.cast__blog__error {
  color: yello;
  font-size: 2rem;
}

.cast__blog__button {
  width: 48rem;
  margin: -2rem auto 0;
}
